<h1>Edit idea #<%= @idea.id %></h1>
<form action="/update_idea/<%= @idea.id %>">
  <label for="desc">Description:</label>
  <input type="text" id="desc" name="desc" value="<%= @idea.desc %>">
  <input type="submit">
</form>

<a href="/ideas/<%= @idea.id %>/destroy">Destroy</a> |
<a href="/ideas">Back to index</a>
