<h1>Listing ideas</h1>
<a href="/ideas/new">Add a new idea</a>
<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
  <% @ideas.each do |idea|  %>
    <tr>
      <td><%= idea.desc %></td>
      <td><%= link_to 'Show', "/ideas/#{idea.id}"  %></td>
      <td><%= link_to 'Edit', "/ideas/#{idea.id}/edit"  %></td>
      <td><%= link_to 'Destroy', "/ideas/#{idea.id}/destroy"  %></td>
    </tr>
  <% end %>
</table>
