<h1>Add a new idea</h1>
<% if @idea.errors %>
  <ul>
    <% @idea.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_tag ideas_path do %>
  <label for="desc">Description:</label>
  <input type="text" id="desc" name="desc" value="<%= @idea.desc %>">
  <input type="submit">
<% end %>
